<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKmCiRPhOjNLtf9LuDzO148vOnPoWsd0A</string>
	<key>GCM_SENDER_ID</key>
	<string>958962156431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.stefanov.myshoppinglist.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>myshoppinglist-7cc10</string>
	<key>STORAGE_BUCKET</key>
	<string>myshoppinglist-7cc10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958962156431:ios:c080c636ef653243c3c1fa</string>
</dict>
</plist>